# Dependencies
node_modules/

# Environment
.env
.env.test

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Build
dist/
out/
build/

# Test
coverage/
.nyc_output/

# Database
*.db
*.sqlite

# Prisma
/prisma/migrations/